.activity {
    padding-top: 0;
}

.activity-list {
    display: flex;
}

.activity-list__item {
    width: 370px;
    position: relative;
    &+& {
        margin-left: 30px;
    }
}

.activity-list__text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding-top: 27px;
    padding-bottom: 27px;

    color: #FFFFFF;
    background: rgba(47, 48, 58, 0.8);
}

.activity-title {
    margin-top: 0;
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--primary-text-color);
}