.customers {
    background-color: #FFFFFF;
}

.customers-list {
    display: flex;
}

.customers-list__item {
    width: 170px;
    height: 92px;
    box-sizing: border-box;
    &+& {
        margin-left: 30px;
    }
}

.customers-list__link {
    width: 100%;
    height: 100%;
    display: flex;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    fill: #AFB1B8;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover,
    &:focus {
        border-color: #2196F3;
        fill: #2196F3;
    }
}

.customers-title {
    margin-top: 0;
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
}