.header {
    padding-top: 24px;
    padding-bottom: 25px;
    margin: 0 auto;
    border-bottom: 1px solid rgba(236, 236, 236, 1);
    background: #FFFFFF;
    ;
}

.header-container {
    display: flex;
    align-items: center;
}

.navigation {
    display: flex;
    align-items: center;
}

.logo {
    display: block;
    text-decoration-line: none;
    font-family: Raleway,
    sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.header-logo {
    color: #000000;
}

.logo__web {
    font-family: Raleway, sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}

.navigation__list {
    display: flex;
    margin-left: 93px;
}

.navigation__item+.navigation__item {
    margin-left: 50px;

}

.navigation__link {
    display: block;
    text-decoration-line: none;
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.navigation-current {
    position: relative;
    color: var(--accent-color);
    &::after {
        content: '';
        display: block;
        position: absolute;
        margin-top: 28px;
        width: 48px;
        height: 4px;
        border-radius: 2px;
        background-color: #2196F3;
    }
}

.contact-list {
    display: flex;
}

.header-contact-list {
    margin-left: auto;
}

.contact__item+.contact__item {
    margin-left: 50px;
}

.contact__link {
    display: flex;
    text-decoration-line: none;
    color: var(--text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    align-items: center;
    justify-content: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.contact__icon {
    fill: currentColor;
    margin-right: 10px;
    &:hover,
    &:focus {
        fill: currentColor;
    }
}

