.portfolio {
    background: #FFFFFF;
}

.portfolio-btn-list {
    display: flex;
    justify-content: center;
}

.portfolio-btn-item {
    margin-right: 8px;
}

.portfolio-btn {
    display: inline-block;
    margin-bottom: 50px;
    background-color: #F5F4FA;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--primary-text-color);
    border-radius: 4px;
    padding: 6px 22px;
    border: 2px solid transparent;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        background-color: var(--accent-color);
        font-weight: 500;
        font-size: 16px;
        line-height: 1.62;
        letter-spacing: 0.03em;
        text-align: center;
        color: var(--white-color);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
            0px 1px 2px rgba(0, 0, 0, 0.08),
            0px 2px 2px rgba(0, 0, 0, 0.12);
        border-radius: 4px;
    }
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
}

.portfolio-list-item {
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
            0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);
    }
    &:nth-last-child(-n+3) {
        margin-bottom: 0;
    }

    &:nth-child(3n) {
        margin-right: 0;
    }
}

.portfolio-item-wrap {
    position: relative;
    overflow: hidden;
}

.potfolio-top-text {
    position: absolute;
    top: 0;
    height: 100%;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    padding: 63px 24px;

    color: #FFFFFF;
    background: rgba(33, 150, 243, 0.9);
    transform: translateY(101%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .portfolio-list-item:hover &,
    .portfolio-list-item:focus & {
        transform: translateY(0);
    }
}

.portfolio-list-footer {
    padding: 20px 24px;
    border-right: 1px solid rgba(236, 236, 236, 1);
    border-bottom: 1px solid rgba(236, 236, 236, 1);
    border-left: 1px solid rgba(236, 236, 236, 1);
}

.portfolio-list-title {
    margin-bottom: 4px;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
}

.portfolio-list-text {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--text-color);
}